@import url(../../../stylesheets/application.css);

body, #wrapper { background-color:#010101; }
#header, #top-menu { color:#00F300; background-color:#000001; margin: 0px 10px 0px 11px; }
menu a {color:#00F500; background-color:#000100;}
#main { background: #010101; margin: 8px 10px 0px 10px; }
#top-menu a {color: #0f0; margin-right: 8px; font-weight: bold;}
#header a {color:#08f008;}
h4 {border-bottom: 1px dotted #070;}
#content h1, h2, h3, h4 {color: #0D0;}
#content, #main.nosidebar #content { background: #000; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; }
#footer { background-color:#010101; border: 0px; }

/* Headers */
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {border-bottom: 0px;}

/* Menu */
#main-menu li a { background-color: #040503; font-weight: bold;}
#main-menu li a:hover { background: #040503; text-decoration: underline; }
#main-menu li a.selected, #main-menu li a.selected:hover { background-color:#010101; }

/* Tables */
table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #999999;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #666; }

tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover { color: #900; font-weight: bold; }
tr.odd.priority-highest { background: #ffc4c4; }
tr.even.priority-highest, table.list tbody tr.even.priority-highest:hover { color: #900; font-weight: bold; }
tr.even.priority-highest { background: #ffd4d4; }
tr.priority-highest a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-highest td, tr.even.priority-highest td { border-color: #ffb4b4; }

tr.odd.priority-high2, table.list tbody tr.odd.priority-high4:hover { color: #900; }
tr.odd.priority-high2 { background: #ffc4c4; }
tr.even.priority-high2, table.list tbody tr.even.priority-high4:hover { color: #900; }
tr.even.priority-high2 { background: #ffd4d4; }
tr.priority-high2 a { color: #900; }
tr.odd.priority-high2 td, tr.even.priority-high4 td { border-color: #ffb4b4; }

tr.odd.priority-high3, table.list tbody tr.odd.priority-high3:hover { color: #900; }
tr.odd.priority-high3 { background: #fee; }
tr.even.priority-high3, table.list tbody tr.even.priority-high3:hover { color: #900; }
tr.even.priority-high3 { background: #fff2f2; }
tr.priority-high3 a { color: #900; }
tr.odd.priority-high3 td, tr.even.priority-high3 td { border-color: #fcc; }

tr.odd.priority-lowest, table.list tbody tr.odd.priority-lowest:hover { color: #559; }
tr.odd.priority-lowest { background: #eaf7ff; }
tr.even.priority-lowest, table.list tbody tr.even.priority-lowest:hover { color: #559; }
tr.even.priority-lowest { background: #f2faff; }
tr.priority-lowest a { color: #559; }
tr.odd.priority-lowest td, tr.even.priority-lowest td { border-color: #add7f3; }

/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] { background-color: #050505; color: #22F222; border: 1px outset #0c0c0c; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #0c0c0b; }

/* Fields */
input[type="text"], input[type="password"], textarea, select { color:#00FF00; background-color:#030303; padding: 2px; border: 1px solid #07d707; }
input[type="text"], input[type="password"] { padding: 3px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #080806; }
option { border-bottom: 1px dotted #070707; }

/* Misc */
.box { background-color: #0c0c0c; }
#content .tabs ul li a{
  display:block;
  font-size: 0.9em;
  text-decoration:none;
  line-height:1.3em;
  padding:4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  background-color: #060606;
  color:#0E0;
  font-weight:bold;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

#content .tabs ul li a.selected {
  background-color: #000;
  border: 1px solid #0b0b0b;
  border-bottom: 1px solid #111;
  color:#090;
}
